* {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  min-height: 100vh;
  width: 100%;
}

.page-title {
  display: flex;
  height: 100px;
  justify-content: center;
  align-items: center;
  font-size: 48px;
}

.search-form {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 114px;
}

.search-form input,
select,
button {
  width: 300px;
  padding: 10px;
  margin: 0 10px;
  font-size: 24px;
}

button {
  color: #fff;
  background: #000;
  cursor: pointer;
}

#loading {
  font-size: 34px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.json-response-wrapper {
  margin: auto;
  width: 70%;
  display: flex;
  gap: 50px;
}

.json-response-wrapper .box {
  flex: 1;
  background: #8080803b;
  padding: 20px;
}

#loading {
  text-align: center;
  margin-top: 20px;
}

@media (max-width: 768px) {
  .search-form {
    height: auto;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  input,
  select,
  button {
    width: 322px;
  }

  .json-response-wrapper {
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
  }
  .box {
    width: 100%;
  }
}
